.container {
  width: 400px;
  height: 675px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 55px;
  border-radius: 15px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 30px;
}

.search-bar input {
  display: flex;
  width: 250px;
  height: 50px;
  background-color: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 30px;
  color: #626262;
  font-size: 16px;
  font-weight: 400;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weather-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 80px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 20px;
}

.data-container {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.data {
  font-size: 22px;
  font-weight: 400;
}

.text {
  font-size: 14px;
  font-weight: 400;
}

.alert {
  display: inline-block;
  width: 50%;
  padding-top: 20px;
}

.smaller-icon {
  width: 120px;
  height: auto;
  padding: 35px;
}

/* Toggle Switch */

.toggle-title {
    position: absolute;
    /* top: 10px;
    right: 70px; */
  }
  
  .toggle-container {
    padding-top: 40px;
    padding-right: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:space-around;
  }
  
  .toggle-switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    position: absolute;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: background-color 0.4s;
    border-radius: 25px;
    transition:
      background-color 0.4s,
      box-shadow 0.4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .switch:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: #3a2e7f;
    transition: transform 0.4s;
    border-radius: 50%;
  }
  
  .switch:after {
    content: "°F"; /* Set the initial text content */
    color: #333; /* Set the text color */
    font-size: 12px; /* Set the font size */
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  input:checked + .switch {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  input:checked + .switch:before {
    transform: translateX(25px);
  }
  
  input:checked + .switch:after {
    content: "°C"; /* Change the text content when the switch is checked */
    color: #fff; /* Change the text color when the switch is checked */
  }
  
  @media (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
  } 
